*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Background*/
html{
    width: 100vw;
    height: 100vh;    
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

body{
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(/assets/imgs/pexels-david-mcbee-730547.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

/* Menu - Header - NavBar*/

header{
    position: fixed;
    width: 100%;
    height: 7vh;
    background: rgba(17, 17, 17, 1);
}

.menu-content{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.8rem;
}

.menu-content .nav-list{
    display: flex;
    list-style: none;
    gap: 25px;

}

.menu-content .nav-list a{
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    padding: 1.5rem;
    transition: 0.3s;
    /* transition: 2ms ease-in;
    position: relative; */

}

.menu-content .nav-list a:hover{
    opacity: 0.7;
}

.menu-content .signs a:hover{
    opacity: 0.7;
}

.menu-content .signs{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.menu-content .signs a{
    font-style: italic;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    padding: 1.5rem;
    transition: 0.3s;
    /* transition: 2ms ease-in;
    position: relative; */

}

main{
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Text and img*/
.financial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.financial p{
    font-style: italic;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 2.5rem;
    color: white;
    padding: 1.5rem;
}

.financial img{
    width: 25rem;
    border-radius: 25px;
    margin-left: 50%;
    
}