*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #737A73;
}

header nav{
    background-color: rgba(0, 0, 0, 1);display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
}
nav{
    position: fixed;
    width: 100%;
       
}

header ul{
    list-style: none;
    display: flex;
    
}

header ul li{
    letter-spacing: 3px;
    margin-left: 32px;

}

header a{
    color: white; 
    text-decoration: none;
    transition: 0.3s;
    
}

header a:hover{
    opacity: 0.8;
    
}

.main h1{
    /* background-color: red; */
    height: 100px;
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    letter-spacing: 6px;
    font-size: 45px;
    font-style: italic;  
    padding: 100px 0 50px 0;
    

}

.main h2{
    /* background-color: aqua; */
    
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
    font-style: italic;

    
} 

section div.bills-coins{
    display: flex;
    background-image: url('../imgs/background.jpg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    margin-left: 14%;
    width: 70%;
    height: 350px;
    border-radius: 30px;
    box-shadow: 0 0 15px 15px rgb(150, 148, 148);
    
}

 section.test {
    display: flex;
    background-color: aliceblue;
    
    
}
